# ValidationResult Class

ValidationResult Class This class is reserved for future use with Preference Manager. Namespace [Pref_center](atlas.en-us.258.0.apexref.meta/apexref/apex_namespace_pref_center.htm "The Pref_center namespace provides an interface, classes, and methods to create and retrieve data in forms in Preference Manager. Preference Manager, previously called Preference Center, is a feature within the Privacy Center app.")
